<div class="column">
  <nav class="panel">
    <p class="panel-heading">
      Who to follow
    </p>
  </nav>
  <p><%= @follows %> </p>
  <% if user_signed_in? %>
    <% User.all.each do | user |%>
      <% if user.id != current_user.id%>
        <div class="panel-block">
          <article class=media>
            <div class="media-left">
              <figure class="image is-32x32">
                  <img src="https://bulma.io/images/placeholders/64x64.png">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong><%= user.name%></strong>
                  <small>@<%= user.username%></small>
                  <% if user_signed_in? %>
                    <% if Follow.exists?(followee: user.id, user_id: current_user.id) %>
                      <%= link_to(remove_follow_path(user.id, current_user)) do %>
                        <span> <p>Unfollow</p></span>
                      <% end %>
                    <% else %>
                      <%= link_to(add_follow_path(user.id, current_user)) do %>
                        <span> <p>Follow</p></span>
                      <% end %>
                    <% end %>
                  <% end %>
                </p>
              </div>
            </div>
          </article>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
